@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,800;1,200&display=swap');

:root {
  --gradient: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --dark: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--dark);
  color: coral;
  font-size: 1.5rem;
  text-align: center;
}

.glowing-button {
  margin-top: 2rem;
  background: transparent;
  box-sizing: border-box;
  border-radius: 0.6rem;
  align-self: center;
  padding: 0.7rem 1.2rem;
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.3rem;
  border: 2px solid aqua;

}

.glowing-button:hover{
    color: aqua;
    box-shadow: 3px 3px 20px #03e9f4,3px 2px 20px #57cfd5 ;
}