* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
  color: coral;
  font-size: 1.3rem;
  font-family: sans-serif;
  text-align: center;
  max-width: 900px;
  margin: auto;
}



.gradient-card{
  margin-top: 2rem;
  padding: 1rem;
  background-color: black;
  border-width: 7px;
  border-style: solid;
  border-image: linear-gradient(to left, rgb(125, 226, 116), rgb(176, 89, 219)) 1;
  border-image-slice: 10rem;
    
}
